#paper {
  width: 100%;
  /* height: 700px; */
  position: relative;
  margin: 10px auto;
  padding: 40px 0;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
#paper::after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5%;
  background-color: rgba(255, 0, 0, 0.6);
}

/* title + (img + description) */
.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  width: 100%;
  margin-bottom: 0.1rem;
  padding-left: 7%;
  font-weight: 500;
}
/* styling blue horizontal lines */
#pattern {
  /* height: 100%; */
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 0 0 0 5%;
  background-origin: content-box;
  background-image: repeating-linear-gradient(teal 0px, white 2px, white 32px);
}

.card-image-part {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-wrapper {
  position: relative;
  width: 360px;
  height: 360px;
}
.card-image-wrapper > img {
  width: 100%;
  height: 100%;
}

/* styling text content */
#content {
  position: relative;
  padding: 0 15px;
  line-height: 32px;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

#content h1 {
  font-size: 20px;
  color: red;
  margin: 0;
}
